<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">
				<h2>
					Buscar Clientes <span class="fw-300"><i>DOTDCD - ERP</i></span>
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
						data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
						data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
						data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<!-- datatable start -->
					<table id="dt-basic-example" class=" table table-bordered table-hover table-striped w-100">
						<thead class="bg-primary-600">
							<tr>
								<th>Razón Social</th>
								<th>RFC</th>
								<th>Calle</th>
								<th>Colonia</th>
								<th>Municipio</th>
								<th>Estado</th>
								<th>Código Postal</th>
								<th>Teléfono</th>
								<th>Contacto</th>
								<th>Correo</th>
								
								<th>Estatus</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<!-- datatable end -->
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'scripts'}}

<script src="/js/datagrid/datatables/datatables.bundle.js"></script>
<script src="/js/datagrid/datatables/datatables.export.js"></script>

<script>
	const cli = {{{ json cliArray }}}
	console.log(cli)
	$(document).ready(function () {

		// initialize datatable
		$('#dt-basic-example').dataTable(
			{
				data: cli,
				responsive: true,
				lengthChange: false,
				dom:
					"<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
					"<'row'<'col-sm-12'tr>>" +
					"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				buttons: [

					{
						extend: 'pdfHtml5',
						text: 'PDF',
						titleAttr: 'Generate PDF',
						className: 'btn-outline-danger btn-sm mr-1'
					},
					{
						extend: 'excelHtml5',
						text: 'Excel',
						titleAttr: 'Generate Excel',
						className: 'btn-outline-success btn-sm mr-1'
					},
					{
						extend: 'csvHtml5',
						text: 'CSV',
						titleAttr: 'Generate CSV',
						className: 'btn-outline-primary btn-sm mr-1'
					},
					{
						extend: 'copyHtml5',
						text: 'Copy',
						titleAttr: 'Copy to clipboard',
						className: 'btn-outline-primary btn-sm mr-1'
					},
					{
						extend: 'print',
						text: 'Print',
						titleAttr: 'Print Table',
						className: 'btn-outline-primary btn-sm'
					}
				]
			});

	});
</script>

{{/section}}