<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Cliente <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post" class="form-group" action="/addCliente">
                                        <label class="form-label text-center col-12" for="simpleinput">
                                            <h3 class="text-center">Agregar Cliente</h3>
                                        </label><br>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-4 mt-2">
                                                    <span>Razón Social</span>
                                                    <input type="text" id="simpleinput"
                                                        class="form-control mb-1 display-4"
                                                        placeholder="Ingresa la razon social" name="cliente_razon_social" autofocus>
                                                </div><br>
                                                <div class="col-md-4 mt-2">
                                                    <span>Calle</span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa la calle y número" name="cliente_calle">
                                                </div><br>
                                                <div class="col-md-4 mt-2">
                                                    <span>Colonia</span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1 "
                                                        placeholder="Ingresa la colonia" name="cliente_colonia">
                                                </div><br>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mt-2">
                                                    <span> Municipio </span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el municipio" name="cliente_municipio">
                                                </div><br>
                                                <div class="col-md-4 mt-2">
                                                    <span>Estado</span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el estado " name="cliente_estado">
                                                </div><br>
                                                <div class="col-md-4 mt-2" >
                                                    <span>Codigo Postal </span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el código postal " name="cliente_codigo_postal">
                                                </div><br>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mt-2">
                                                    <span> RFC </span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el RFC" name="cliente_rfc" required>
                                                </div><br>
                                                <div class="col-md-4 mt-2">
                                                    <span> Teléfono </span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el telefono" name="cliente_telefono">
                                                </div><br>
                                                <div class="col-md-4 mt-2">
                                                    <span> Contacto </span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el contacto" name="cliente_contacto">
                                                </div><br>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 mt-2">
                                                    <span> Contacto de Cobranza </span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el contacto de cobranza" name="cliente_cobranza">
                                                </div> <br>
                                                <div class="col-md-4 mt-2">
                                                    <span> Correo de Cliente </span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el correo del cliente" name="cliente_email">
                                                </div><br>
                                                <div class="col-md-4 mt-2">
                                                    <span>Regimen Fiscal</span>
                                                    <input type="text" id="simpleinput" class="form-control mb-1"
                                                        placeholder="Ingresa el regimen fiscal" name="cliente_regimen_fiscal">
                                                </div><br>
                                    
                                            </div>
                                            <br>
                                            <div class="row mt-5">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <button type="submit"
                                                        class="btn-outline-info btn-lg btn-block ">Agregar</button>
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>