<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">
				<h2>
					Usuarios <span class="fw-300"><i>DOTDCD - ERP</i></span>
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
						data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
						data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
						data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<!-- datatable start -->
					<table id="dt-basic-example" class=" table table-bordered table-hover table-striped w-100">
						<thead class="bg-primary-600">
							<tr>
								<th>ID</th>
								<th>Marca</th>
								<th>Estatus</th>
								<th style="width:20%; text-align:center">Accion</th>
							</tr>
							
						</thead>
						<tbody>

						</tbody>
					</table>
					<!-- datatable end -->
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'scripts'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.all.min.js"></script>
<script>
	const marcas = {{{ json marcasArray }}};


	async function showModalPut(data) {
		console.log(data)
		const { value: formValues } = await Swal.fire({
			title: 'Editar Marca',
			html:
				'<input id="swal-input1" class="swal2-input" value="' + data.marca_descripcion + '" placeholder="Ingresa el nombre de la marca" required autofocus>' +
				'<select id="swal-input2" class="swal2-input" required autofocus>' +
				'<option value="0" ' + (data.marca_estatus == 0 ? 'selected' : '') + '>Activo</option>' +
				'<option value="1" ' + (data.marca_estatus == 1 ? 'selected' : '') + '>Inactivo</option>' +
				'</select>',
			focusConfirm: false,
			preConfirm: () => {
				$.ajax({
					type: 'PUT',
					url: '/administracion/marca/updMarca',
					dataType: 'json',
					data: { marca_id: data.id, marca_descripcion: $('#swal-input1').val(), marca_estatus_baja: $('#swal-input2').val() },
					success: function (resp) {
						if (resp.status == 200) {
							swal.fire({
								title: "Marca actualizada",
								text: resp.message,
								preConfirm() {
									location.reload();
								}
							})
						} else {
							swal.fire("Error!", resp.message, "error");
						}
					},
					error: function (resp) {
						swal.fire("Error!", resp.message, "error");
					}
				});
			}
		})
	}

	function showModalDel(id) {
		swal.fire({
			title: '¿Estas seguro?',
			text: "Esta acción no se puede deshacer! \n ¿Deseas continuar?",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Si, eliminar!'
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: 'DELETE',
					url: '/administracion/marca/delMarca/' + id,
					dataType: 'json',
					success: function (resp) {
						if (resp.status == 200) {
							swal.fire({
								title: "Marca eliminada",
								text: resp.message,
								preConfirm() {
									location.reload();
								}
							})
						} else {
							swal.fire("Error!", resp.message, "error");
						}
					},
					error: function (resp) {
						swal.fire("Error!", resp.message, "error");
					}
				});
			}
		})
	}

	$(document).ready(function () {

		// initialize datatable
		$('#dt-basic-example').dataTable(
			{
				data: marcas,
				responsive: true,
				lengthChange: false,
				dom:
					"<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
					"<'row'<'col-sm-12'tr>>" +
					"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				buttons: [

					{
						extend: 'pdfHtml5',
						text: 'PDF',
						titleAttr: 'Generate PDF',
						className: 'btn-outline-danger btn-sm mr-1'
					},
					{
						extend: 'excelHtml5',
						text: 'Excel',
						titleAttr: 'Generate Excel',
						className: 'btn-outline-success btn-sm mr-1'
					},
					{
						extend: 'csvHtml5',
						text: 'CSV',
						titleAttr: 'Generate CSV',
						className: 'btn-outline-primary btn-sm mr-1'
					},
					{
						extend: 'copyHtml5',
						text: 'Copy',
						titleAttr: 'Copy to clipboard',
						className: 'btn-outline-primary btn-sm mr-1'
					},
					{
						extend: 'print',
						text: 'Print',
						titleAttr: 'Print Table',
						className: 'btn-outline-primary btn-sm'
					}
				]
			});

	});
</script>

{{/section}}'