<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Editar Marca <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <form method="post" class="form-group" action="/updMarca/{{marcas.marca_id}}">

                                    <h1 class="text-center">Editar Marca</h1>
                                        <label class="form-label" for="simpleinput">
                                            <span> Nombre de la Marca</span>
                                        </label>
                                        <input type="text" id="simpleinput" class="form-control" value="{{marcas.marca_descripcion}}" placeholder="Ingresa el nombre de la marca" name="marca_descripcion" required autofocus><br><br>
                                        <label for="" class="form-label">Estatus</label>
                                        <select name="marca_estatus_baja" class="form-control mb-6" id="">
                                            <option value="0">Activo</option>
                                            <option value="1">Inactivo</option>
                                        </select>
                                        <div class="row mt-5">
                                                <div class="col-md-6">
                                                    <a href="/dashboard/administracion/marca/buscar"><button type="button" class="btn-outline-danger btn-lg btn-block">Cancelar</button></a>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="submit"
                                                        class="btn-outline-info btn-lg btn-block ">Actualizar</button>
                                                </div>
                                            </div>
                                    </form>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
