<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Proveedor por Marca <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <form method="post" class="form-group" action="/addprvMarca">

                                    <h1 class="text-center">Agregar Proveedor por Marca</h1>
                                        <label class="form-label" for="simpleinput">
                                            <span> Nombre de la Marca</span>
                                        </label>
                                        <span>Marca</span>
                                        <select name="proveedoresxmarca_marca_id" id="" class="form-control">
                                            {{#each marcas}}
                                                    <option value="{{marca_id}}">{{marca_descripcion}}</option>
                                            {{/each}}
                                        </select><br/>

                                        <label for="" class="form-label">Proveedor</label>
                                        
                                        <select name="proveedoresxmarca_proveedor_id" id="" class="form-control">
                                            {{#each proveedores}}
                                                    <option value="{{proveedor_id}}">{{proveedor_razon_social}}</option>
                                            {{/each}}
                                        </select><br/>
                                        <div class="row mt-5">
                                                
                                                <div class="col-md-12">
                                                    <button type="submit"
                                                        class="btn-outline-info btn-lg btn-block ">Agregar</button>
                                                </div>
                                            </div>
                                    </form>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
