<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Proveedor <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <form method="post" class="form-group">
                                        <label class="form-label" for="simpleinput">
                                            <h3>Agregar Proveedor</h3>
                                        </label><br>
                                        <span>Razón Social</span>
                                        <input type="text" id="simpleinput" class="form-control mb-1 display-4"
                                            placeholder="Ingresa el razon social" autofocus> <br>
                                        <span>Dirección</span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa el direccion"> <br>
                                        <span>RFC</span>
                                        <input type="text" id="simpleinput" class="form-control mb-1 "
                                            placeholder="Ingresa el RFC"> <br>
                                        <span> Teléfono </span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa el telefono"> <br>
                                        <span>Contacto</span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa contacto "> <br>
                                        <span>Sitio Web</span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa web "> <br>
                                        <span>Usuario y Contraseña</span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa usuario y contraseña"> <br>
                                        <span>Correo del Proveedor</span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa el mail del proveedor"> <br>
                                        <span> Días de Crédito </span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa los dias de credito"> <br>
                                        <span> Límite de Crédito </span>
                                        <input type="text" id="simpleinput" class="form-control mb-1"
                                            placeholder="Ingresa el limite de credito">

                                        <br><br>
                                        <button type="button"
                                            class="btn-outline-info btn-lg btn-block ">Agregar</button>
                                    </form>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>