<!-- BEGIN Left Aside -->
<aside class="page-sidebar">

	{{> include/sidebar/_logo }}

	<!-- BEGIN PRIMARY NAVIGATION -->
	<nav id="js-primary-nav" class="primary-nav" role="navigation">

		{{> include/sidebar/_nav-filter }}
		{{> include/sidebar/_nav-info-card }}	
		{{> include/sidebar/_nav }}
	</nav>
	<!-- END PRIMARY NAVIGATION -->

	<!-- NAV FOOTER -->
	{{> include/sidebar/_nav-footer }}
	<!-- END NAV FOOTER -->

</aside>
<!-- END Left Aside -->