<ul id="js-nav-menu" class="nav-menu">
		<li>
			<a  title="Analytics" data-filter-tags="Analytics">
				<i class="fal fa-chart-pie"></i>
				<span class="nav-link-text" data-i18n="nav.Analytics">Analytics</span>
			</a>
			<ul>
				<li>
					<a href="/dashboard/analytics/proyectos" title="Proyectos"
						data-filter-tags="Proyectos">
						<span class="nav-link-text" data-i18n="nav.proyectos">Proyectos</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/analytics/empleados" title="Empleados" data-filter-tags="Empleados ">
						<span class="nav-link-text" data-i18n="nav.Empleados">Empleados</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/analytics/analytics" title="analytics_Nómina" data-filter-tags="Nómina">
						<span class="nav-link-text" data-i18n="nav.Nómina">Analytics</span>
					</a>
				</li>
				
			</ul>
		</li>
		<li>
			<a title="Inicio " data-filter-tags="Inicio ">
				<i class="ni ni-home"></i>
				<span class="nav-link-text" data-i18n="nav.Inicio">Inicio</span>
			</a>
			<ul>
				<li>
					<a href="/dashboard/inicio/usuarios" title="Usuarios"
						data-filter-tags="  Usuarios">
						<span class="nav-link-text" data-i18n="nav.Usuarios">Usuarios</span>
					</a>
				</li>
				<li>
					<a href="intel_privacy.html" title="Respaldo" data-filter-tags="Inicio Respaldo">
						<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Respaldo</span>
					</a>
				</li>
			</ul>
		</li>
	<li>
		<a title="Operacion" data-filter-tags="Operacion">
			<i class="ni ni-grid"></i>
			<span class="nav-link-text" data-i18n="nav.Operacion">Operación</span>
		</a>
		<ul>
			<li>
				<a title="Proyectos" data-filter-tags="Operacion Proyectos">
					<span class="nav-link-text" data-i18n="nav.Proyectos">Proyectos</span>
				</a>
				<ul>
					<li>
						<a href="/dashboard/operacion/proyectos/nuevo" title="Nuevo Proyecto"
							data-filter-tags="application intel introduction">
							<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
						</a>
					<li>
						<a href="intel_introduction.html" title="Control de Cambios"
							data-filter-tags="Control de Cambios">
							<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Control de
								Cambios</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/operacion/proyectos/buscar" title="Proyectos Buscar"
							data-filter-tags=" Proyectos Buscar">
							<span class="nav-link-text" data-i18n="nav.Buscar">Buscar</span>
						</a>
					</li>
					<li>
						<a title="Introduction" data-filter-tags="Requisición">
							<span class="nav-link-text"
								data-i18n="nav.Requisición">Requisición</span>
						</a>
						<ul>
							<li>
								<a href="/dashboard/operacion/requerimientos/nuevo" title="Nueva"
									data-filter-tags="Nueva">
									<span class="nav-link-text"
										data-i18n="nav.Nueva">Nueva</span>
								</a>
							</li>
							<li>
								<a href="/dashboard/operacion/requerimientos/buscar" title="Buscar"
									data-filter-tags="Buscar">
									<span class="nav-link-text"
										data-i18n="nav.Buscar">Buscar</span>
								</a>
							</li>
							<li>
								<a href="/dashboard/operacion/requerimientos/buscar" title="Eliminar"
									data-filter-tags="Eliminar">
									<span class="nav-link-text"
										data-i18n="nav.Eliminar">Eliminar</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="intel_introduction.html" title="Estimación"
							data-filter-tags="Estimación">
							<span class="nav-link-text" data-i18n="nav.Estimación">Estimación</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Asignar
								Empleados"
							data-filter-tags="Asignar
								Empleados">
							<span class="nav-link-text" data-i18n="nav.Asignar
								Empleados">Asignar
								Empleados</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Reporte de
								Cotización"
							data-filter-tags="Reporte de
								Cotización">
							<span class="nav-link-text" data-i18n="nav.Reporte de
								Cotización">Reporte de
								Cotización</span>
						</a>
					</li>
					<li>
						<a title="Introduction"
							data-filter-tags="Autorizar  ">
							<span class="nav-link-text" data-i18n="nav.Autorizar">Autorizar</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a  title="Introduction"
					data-filter-tags="Autorizar  ">
					<span class="nav-link-text" data-i18n="nav.Autorizar">Autorizar</span>
				</a>
				<ul>
					<li>
						<a href="/dashboard/operacion/proyectos/autorizar" title="Proyecto /
								Cambios"
							data-filter-tags="Proyecto /
								Cambios">
							<span class="nav-link-text" data-i18n="nav.Proyecto /
								Cambios">Proyecto /
								Cambios</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Introduction"
					data-filter-tags="Subcontratos  ">
					<span class="nav-link-text" data-i18n="nav.Subcontratos">Subcontratos</span>
				</a>
				<ul>
					<li>
						<a href="intel_introduction.html" title="Nuevo"
							data-filter-tags="Nuevo  ">
							<span class="nav-link-text" data-i18n="nav.Nuevo">Nuevo</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Buscar"
							data-filter-tags="Buscar  ">
							<span class="nav-link-text" data-i18n="nav.Buscar">Buscar</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Órdenes de
								Compra"
							data-filter-tags="application intel introduction">
							<span class="nav-link-text" data-i18n="nav.Órdenes de
								Compra">Órdenes de
								Compra</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Estimaciones"
							data-filter-tags="Estimaciones  ">
							<span class="nav-link-text"
								data-i18n="nav.Estimaciones">Estimaciones</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Pagos"
							data-filter-tags="Pagos  ">
							<span class="nav-link-text" data-i18n="nav.Pagos">Pagos</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Introduction"
							data-filter-tags=" Anticipos">
							<span class="nav-link-text" data-i18n="nav.Anticipos">Anticipos</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Introduction"
					data-filter-tags="Folios">
					<span class="nav-link-text" data-i18n="nav.Folios">Folios</span>
				</a>
				<ul>
					<li>
						<a href="intel_introduction.html" title="Nuevo"
							data-filter-tags="Nuevo  ">
							<span class="nav-link-text" data-i18n="nav.Nuevo">Nuevo</span>
						</a>
					</li>
					<li>
						<a href="intel_introduction.html" title="Pendientes"
							data-filter-tags="Pendientes">
							<span class="nav-link-text" data-i18n="nav.Pendientes">Pendientes</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a href="#" title="Administración " data-filter-tags=" Administración">
			<i class="ni ni-screen-desktop"></i>
			<span class="nav-link-text" data-i18n="nav.Administración"> Administración</span>
		</a>
		<ul>
			<li>
				<a title="Clientes" data-filter-tags="Clientes  ">
					<span class="nav-link-text" data-i18n="nav.Clientes">Clientes</span>
				</a>
				<ul>
					<li>
						<a href="/dashboard/administracion/clientes/nuevo" title="Nuevo" data-filter-tags=" Nuevo">
							<span class="nav-link-text" data-i18n="nav.Nuevo">Nuevo</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/administracion/clientes/buscar" title="Privacy" data-filter-tags="Buscar">
							<span class="nav-link-text" data-i18n="nav.">Buscar</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Clientes" data-filter-tags="Clientes  ">
					<span class="nav-link-text" data-i18n="nav.Clientes">Facturacion / Timbrado</span>
				</a>
				<ul>
					<li>
						<a href="/dashboard/administracion/facturas/nuevo" title="Nuevo" data-filter-tags=" Nuevo">
							<span class="nav-link-text" data-i18n="nav.Nuevo">Nuevo</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/administracion/facturas" title="Privacy" data-filter-tags="Buscar">
							<span class="nav-link-text" data-i18n="nav.">Buscar</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Privacy" data-filter-tags="Proveedores ">
					<span class="nav-link-text" data-i18n="nav.Proveedores">Proveedores</span>
				</a>
				<ul>
					<li>
						<a href="/dashboard/administracion/proveedores/nuevo" title="Nuevo" data-filter-tags="Nuevo">
							<span class="nav-link-text" data-i18n="nav.Nuevo">Nuevo</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/administracion/proveedores/buscar" title="Buscar" data-filter-tags="Buscar">
							<span class="nav-link-text" data-i18n="nav.Buscar">Buscar</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Introduction"
					data-filter-tags="Productos y
						Servicios">
					<span class="nav-link-text" data-i18n="nav.Productos y
						Servicios">Productos y
						Servicios</span>
				</a>
				<ul>
					<li>
						<a href="/dashboard/administracion/productos/nuevo" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Nuevo</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/administracion/productos/buscar" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/administracion/productos/tipo" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Tipo de
								Material</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a  title="Introduction"
					data-filter-tags="application intel introduction">
					<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Facturas /
						Prefacturas</span>
				</a>
				<ul>
					<li>
						<a href="/dashboard/administracion/facturas/prefacturar" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Prefacturas</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/administracion/prefacturas/programar" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Facturas Programadas</span>
						</a>
					</li>
					<li>
						<a href="" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Facturar
								Prefacturas</span>
						</a>
					</li>
					<li>
						<a href="/dashboard/administracion/prefacturas/ver" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Ver Prefacturas</span>
						</a>
					</li>
					
				</ul>
			</li>
			<li>
				<a title="Introduction" data-filter-tags="application intel introduction">
					<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Compras</span>
				</a>
				<ul>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Cotizar a
								Proveedor</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Orden de Compra</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Estatus de Órdenes de
								Compra</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Pendientes</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Introduction" data-filter-tags="application intel introduction">
					<span class="nav-link-text" data-i18n="nav.application_intel_introduction">CxC</span>
				</a>
				<ul>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Pagos
								Pendientes</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Reporte de
								Cobranza</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Cobranza en
								Excel</span>
						</a>
					</li>
					<li>
						<a title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Notas de
								Crédito</span>
						</a>
						<ul>
							<li>
								<a href="intel_introduction.html" title="Introduction"
									data-filter-tags="application intel introduction">
									<span class="nav-link-text"
										data-i18n="nav.application_intel_introduction">Nueva</span>
								</a>
							</li>
							<li>
								<a href="intel_introduction.html" title="Introduction"
									data-filter-tags="application intel introduction">
									<span class="nav-link-text"
										data-i18n="nav.application_intel_introduction">Buscar</span>
								</a>
							</li>
						</ul>
					</li>

			</li>
		</ul>
	</li>
	<li>
		<a title="Introduction" data-filter-tags="application intel introduction">
			<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Almacen</span>
		</a>
		<ul>
			<li>
				<a title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Entradas</span>
				</a>
				<ul>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Salidas</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Traspasos</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Folios de
								Entradas</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a  title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Procesos</span>
				</a>
				<ul>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Reportes</span>
				</a>
				<ul>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Kardex</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Existencias</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Movimientos
								Anteriores</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Kardex Anterior</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Inventario
								Físico</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Entradas</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Salidas</span>
						</a>
					</li>
					<li>
						<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
							<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Traspasos</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Catálogo</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a title="Introduction" data-filter-tags="application intel introduction">
			<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Marca</span>
		</a>
		<ul>
			<li>
				<a href="/dashboard/administracion/marca/nuevo" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Nuevo</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/administracion/marca/buscar" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/administracion/marca/prov_marca" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Proveedor por Marca</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/administracion/marca/prov_marca/nuevo" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Nuevo Proveedor por Marca</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a title="Introduction" data-filter-tags="application intel introduction">
			<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Dispositivos</span>
		</a>
		<ul>
			<li>
				<a href="/dashboard/administracion/dispositivos/nuevo" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Nuevo</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/administracion/dispositivos/buscar" title="Privacy" data-filter-tags="Administracion administracion buscar Buscar">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a  title="Introduction" data-filter-tags="application intel introduction">
			<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Cables</span>
		</a>
		<ul>
			<li>
				<a href="/dashboard/administracion/cables/nuevo" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Nuevo</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/administracion/cables/buscar" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a  title="Introduction" data-filter-tags="application intel introduction">
			<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Disciplina</span>
		</a>
		<ul>
			<li>
				<a href="/dashboard/administracion/disciplina/nuevo" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Nuevo</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/administracion/disciplina/buscar" title="Privacy" data-filter-tags="application intel privacy">
					<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Buscar</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
</li>
<li>
	<a  title="Application Intel" data-filter-tags="application intel">
		<i class="ni ni-calculator"></i>
		<span class="nav-link-text" data-i18n="nav.application_intel">Contabilidad</span>
	</a>
	<ul>
		<li>
			<a title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Bancos</span>
			</a>
			<ul>
				<li>
					<a title="Privacy" data-filter-tags="application intel privacy">
						<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Ingresos</span>
					</a>
					<ul>
						<li>
							<a href="/dashboard/contabilidad/ingresos/nuevo" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
							</a>
						</li>
						<li>
							<a href="/dashboard/contabilidad/ingresos/buscar" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a title="Privacy" data-filter-tags="application intel privacy">
						<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Egresos</span>
					</a>
					<ul>
						<li>
							<a href="/dashboard/contabilidad/egresos/nuevo" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
							</a>
						</li>
						<li>
							<a href="/dashboard/contabilidad/egresos/nuevo" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Activo</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a title="Privacy" data-filter-tags="application intel privacy">
						<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Entrecuentas</span>
					</a>
					<ul>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a title="Privacy" data-filter-tags="application intel privacy">
						<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Cuentas</span>
					</a>
					<ul>
						<li>
							<a href="/dashboard/contabilidad/bancos/cuentas/nuevo" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
							</a>
						</li>
						<li>
							<a href="/dashboard/contabilidad/bancos/cuentas/buscar" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a title="Privacy" data-filter-tags="application intel privacy">
						<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Caja Chica</span>
					</a>
					<ul>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text"
									data-i18n="nav.application_intel_introduction">Movimientos</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Corte de
									Caja</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Histórico de
									Movimiento</span>
							</a>
						</li>

					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a  title="Privacy" data-filter-tags="application intel privacy">
				<span class="nav-link-text" data-i18n="nav.application_intel_privacy">Inversiones</span>
			</a>
			<ul>
				<li>
					<a href="/dashboard/contabilidad/inversiones/nuevo" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Alta</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/contabilidad/inversiones/requerir" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Requerir</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/contabilidad/inversiones/buscar" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Empleados</span>
			</a>
			<ul>
				<li>
					<a href="/dashboard/contabilidad/empleados/nuevo" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/contabilidad/empleados/asignar" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Asignar
							Activos</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/contabilidad/empleados/buscar" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/contabilidad/empleados/todos" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Todos</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/contabilidad/empleados/ver/contratos" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Contratos</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a  title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Analytics</span>
			</a>
			<ul>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Proceso
							Quincenal</span>
					</a>
				</li>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Recibos por
							Empleado</span>
					</a>
				</li>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Liquidaciones</span>
					</a>
				</li>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Capturar Recibos
							Especiales</span>
					</a>
				</li>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Imprimir Recibos
							Especiales</span>
					</a>
				</li>
				<li>
					<a title="Introduction" data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nómina Semanal</span>
					</a>
				</li>
				<li>
					<a title="Introduction" data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Eficiencia
							Laboral</span>
					</a>
					<ul>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Avances por
									Proyecto y Fecha</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Utilidades
									por Proyecto y Fecha</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Utilidades
									por Empleado</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Eficiencia de
									Empleados</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Supervisores
									por Proyecto / Fecha</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Proyectos
									Supervisados por Día</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">CxP</span>
			</a>
			<ul>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Órdenes
							Pendientes</span>
					</a>
				</li>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Cuentas por
							Pagar</span>
					</a>
				</li>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Pagar Órdenes sin
							Afectar Egresos (Eventualmente)</span>
					</a>
				</li>
				<li>
					<a title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Notas de
							Crédito</span>
					</a>
					<ul>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
							</a>
						</li>
						<li>
							<a href="intel_introduction.html" title="Introduction"
								data-filter-tags="application intel introduction">
								<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>

		<li>
			<a title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Control de Pérdidas</span>
			</a>
			<ul>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Autorizar
							Requisiciones</span>
					</a>
				</li>
				<li>
					<a href="intel_introduction.html" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Reporte de
							Pérdidas</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/dashboard/contabilidad/jornadas/ver" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Jornadas</span>
			</a>
		</li>

		<li>
			<a title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Multiempresas</span>
			</a>
			<ul>
				<li>
					<a href="/dashboard/contabilidad/multiempresas/nuevo" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nuevo</span>
					</a>
				</li>

				<li>
					<a href="/dashboard/contabilidad/multiempresas/buscar" title="Introduction"
						data-filter-tags="application intel introduction">
						<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Buscar</span>
					</a>
				</li>

			</ul>
		</li>
	</ul>
</li>
<li>
	<a title="Theme Settings" data-filter-tags="theme settings">
		<i class="ni ni-book-open"></i>
		<span class="nav-link-text" data-i18n="nav.theme_settings">Reportes</span>
	</a>
	<ul>
		<li>
			<a href="settings_how_it_works.html" title="How it works" data-filter-tags="theme settings how it works">
				<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Presupuestos</span>
			</a>
		</li>
		<li>
			<a href="settings_layout_options.html" title="Layout Options"
				data-filter-tags="theme settings layout options">
				<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">Posición Financiera</span>
			</a>
		</li>
		<li>
			<a href="settings_skin_options.html" title="Skin Options" data-filter-tags="theme settings skin options">
				<span class="nav-link-text" data-i18n="nav.theme_settings_skin_options">Estados de Cuenta</span>
			</a>
		</li>
		<li>
			<a href="settings_saving_db.html" title="Saving to Database"
				data-filter-tags="theme settings saving to database">
				<span class="nav-link-text" data-i18n="nav.theme_settings_saving_to_database">Ingresos y Egresos por
					Proyecto</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Ingresos y Egresos por
					Inversiones</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nómina por Proveedor y
					Disciplina</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Nómina por Proveedor y
					Disciplina por Empleado</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Cotizado y Comprado por
					Proyecto</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">SituaciónActual de
					Cotizaciones</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Situación Actual de
					Cotizaciones</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Mis Proyectos</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Situación de
					Proyectos</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">KPI's</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">KPI's II</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Comisiones</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Compra de Activos</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Detalle de Costos por
					Proyecto</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Asistencia</span>
			</a>
		</li>
		<li>
			<a href="intel_introduction.html" title="Introduction" data-filter-tags="application intel introduction">
				<span class="nav-link-text" data-i18n="nav.application_intel_introduction">Rendimiento</span>
			</a>
		</li>

	</ul>
</li>
</ul>