<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Buscar Producto / Servicio<span class="fw-300"><i>DOTDCD - ERP</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <table>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Costo Material</th>
                                    <th>Costo M.O.</th>
                                    <th>Costo Total</th>
                                </tr>
                                <tr>
                                    <th>Precio</th>
                                    <th id="precio"></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Herr. Menor</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                </tr>
                                <tr>
                                    <th>Costo Directo</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Indirecto Campo</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Ind. Oficina</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Total indirectos</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Subtotal(1)</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>

                                <tr>
                                    <th>Financiamiento</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Subtotal(2)</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Utilidad</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <table id="productosTable" class=" table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Descripcion</th>
                                <th>Codigo</th>
                                <th>Tipo de Material</th>
                                <th>Familia / Disciplina</th>
                                <th>Dispositivo</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Unidad</th>
                                <th>Maneja Series</th>
                                <th>Moneda</th>
                                <th>Costo de Compra</th>
                                <th>Fecha de Costo</th>
                                <th>Precio Producto a Tarjeta</th>
                                <th>M.O. Cant. Jornadas</th>
                                <th>Porcentajes</th>
                                <th>% Herr. Menor </th>
                                <th>% Ind. Cpo. </th>
                                <th>% Ind. Of. </th>
                                <th>% Financ. </th>
                                <th>% Utilidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                    <!-- datatable end -->
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <table>
                                <h2>2</h2>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}

<script src="/js/datagrid/datatables/datatables.bundle.js"></script>
<script src="/js/datagrid/datatables/datatables.export.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.all.min.js"></script>

<script src="/controllers/administration.controller.js"></script>
<script>
    const data = {{{ json parray }}}

    function calcular(producto_precio_tarjeta, utilidad, icampo, ioficina, hm, financiero, producto_mo) {
        console.log(producto_precio_tarjeta, utilidad, icampo, ioficina, hm, financiero, producto_mo)
        
        document.getElementById("precio").innerHTML = producto_precio_tarjeta;
    }

    $(document).ready(function () {

        // initialize datatable
        $('#productosTable').dataTable(
            {
                data: data,
                responsive: true,
                lengthChange: false,
                dom:
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [

                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generate PDF',
                        className: 'btn-outline-danger btn-sm mr-1'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generate Excel',
                        className: 'btn-outline-success btn-sm mr-1'
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        titleAttr: 'Generate CSV',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'copyHtml5',
                        text: 'Copy',
                        titleAttr: 'Copy to clipboard',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        titleAttr: 'Print Table',
                        className: 'btn-outline-primary btn-sm'
                    }
                ]
            });

    });
</script>

{{/section}}