<div class="col-xl-12">
    <div class="home">
        <div class="containerHome">
            <a href="/dashboard/analytics/analytics">
                <div class="serviceBox">
                    <div class="icon" style="--i:#6A7EB5">
                        <i class="fal fa-chart-pie"></i>
                    </div>
                    <div class="content">
                        <h2>Analytics</h2>
                        <p>Dashboard dinámico sobre el gasto en oficina.</p>
                    </div>
                </div>
            </a>
            <a href="/dashboard/analytics/empleados">
                <div class="serviceBox">
                    <div class="icon" style="--i:#1DC7A0">
                        <i class="fal fa-users"></i>
                    </div>
                    <div class="content">
                        <h2>Empleados</h2>
                        <p>Control gráfico de empleados por sucursal</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="serviceBox">
                    <div class="icon" style="--i:#FFD541">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <div class="content">
                        <h2>Analytics</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, quae vero incidunt placeat
                            aliquam, aut sed debitis unde expedita temporibus animi exercitationem officia facere dolor
                            deserunt, consectetur at ratione non?</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="serviceBox" style="--i:#CCBFDF">
                    <div class="icon">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <div class="content">
                        <h2>Analytics</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, quae vero incidunt placeat
                            aliquam, aut sed debitis unde expedita temporibus animi exercitationem officia facere dolor
                            deserunt, consectetur at ratione non?</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="serviceBox" style="--i:#5D5D5D">
                    <div class="icon">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <div class="content">
                        <h2>Analytics</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, quae vero incidunt placeat
                            aliquam, aut sed debitis unde expedita temporibus animi exercitationem officia facere dolor
                            deserunt, consectetur at ratione non?</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="serviceBox" style="--i:#FD3995">
                    <div class="icon">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <div class="content">
                        <h2>Analytics</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, quae vero incidunt placeat
                            aliquam, aut sed debitis unde expedita temporibus animi exercitationem officia facere dolor
                            deserunt, consectetur at ratione non?</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>