<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Empleado <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="row">
                            <div class="container" style="width: 100% !important;">
                                <form class="container"  enctype="multipart/form-data" method="post" action="/addEmployee">
                                    <h3 class="d-block mb-5 text-center pb-2"
                                        style="border-bottom: 1px solid rgb(190, 182, 182);">Datos Personales</h3>
                                    <div class="row mb-3">
                                        <div class="col-4 db-block">
                                            <span>Nombre(s) / Identificación</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                name="empleado_nombre" maxlength="20" required
                                                style="width:95% !important" placeholder="Ingresa el nombre" autofocus>
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="ine">
                                        </div>
                                        <div class="col-4">
                                            <span>Apellido Paterno</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                name="empleado_paterno" maxlength="15" required
                                                style="width:95% !important" placeholder="Ingresa el apellido paterno">

                                        </div>
                                        <div class="col-4">
                                            <span>Apellido Materno</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                name="empleado_materno" maxlength="15" required
                                                style="width:95% !important" placeholder="Ingresa el apellido materno">

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <label>Sexo </label>
                                            <select class="form-control d-inline " style="width:95% !important"
                                                name="empleado_sexo_id">
                                                <option value="1" selected>Hombre</option>
                                                <option value="2">Mujer</option>

                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>Estado Civil</label>
                                            <select class="form-control d-inline " style="width:95% !important"
                                                name="empleado_estado_civil_id">
                                                <option value="1">Soltero</option>
                                                <option value="2">Casado</option>
                                                <option value="3">Divorciado</option>
                                                <option value="4">Separado</option>
                                                <option value="5">Concubinato</option>
                                                <option value="6">Union Libre</option>
                                                <option value="7">Otros</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <span for="example-date">Fecha de Nacimiento / Acta de Nacimiento</span>
                                            <input class="form-control d-inline " style="width:95% !important"
                                                name="empleado_nacimiento" id="example-date" type="date"
                                                 value=""> <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none"
                                                name="actaNacimiento">


                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-4"> <span> CURP </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                maxlength="19" required style="width:95% !important"
                                                placeholder="Ingresa el CURP" name="empleado_curp">
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="curp">
                                        </div>

                                        <div class="col-4">
                                            <span> Comprobante de Vacunación </span>


                                            <input id="fileInput" type="file" style="" name="covid">
                                        </div>
                                        <div class="col-4">
                                            <span> Fotografía </span><br>

                                            <input id="fileInput" type="file" style=" width:95% !important" name="foto">
                                        </div>
                                    </div>
                                    <div class="row mb-6">
                                        <div class="col-6"><span>Dirección / Comprobante</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                style="width:95% !important"
                                                placeholder="Ingresa la dirección de domicilio"
                                                name="empleado_direccion">
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="domicilio">
                                        </div>
                                        <div class="col-6"><span>Teléfono</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                style="width:95% !important" placeholder="Ingresa el teléfono"
                                                name="empleado_telefono">

                                        </div>

                                    </div>
                                    <h3 class="mb-6 mt-1 text-center pb-2"
                                        style="border-bottom: 1px solid rgb(190, 182, 182);">Contacto de emergencia</h3>

                                    <div class="row mb-6">
                                        <div class="col-6">
                                            <span> Nombre </span><br>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                style="width:95% !important" placeholder="Nombre"
                                                name="empleado_contacto_emergencia_nombre">
                                        </div>
                                        <div class="col-6">
                                            <span> Telefono </span><br>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                style="width:95% !important" placeholder="Nombre"
                                                name="empleado_contacto_emergencia_telefono">
                                        </div>
                                    </div>



                                    <h3 class="mb-6 mt-1 text-center pb-2"
                                        style="border-bottom: 1px solid rgb(190, 182, 182);">Datos Laborales</h3>

                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <span>Número de IMSS</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                name="empleado_imss" style="width:95% !important"
                                                placeholder="Ingresa el número de IMSS ">
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="numeroImss">
                                        </div>
                                        <div class="col-4">
                                            <span> Sueldo Reportado IMSS </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                name="empleado_sueldo_imss" style="width:95% !important"
                                                placeholder="Ingresa el sueldo reportado al IMSS">
                                        </div>
                                        <div class="col-4">
                                            <span> Cotización Diaria IMSS </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                name="empleado_diario" style="width:95% !important"
                                                placeholder="Ingresa la cotización diaria IMSS">
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <span>Sueldo por Periodo</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                name="empleado_periodo_id" style="width:95% !important"
                                                placeholder="Ingresa sueldo por periodo ">
                                        </div>
                                        <div class="col-4">
                                            <span> Cuenta de Depósito IMSS </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                name="empleado_cuenta_deposito" style="width:95% !important"
                                                placeholder="Ingresa la cuenta de depósito IMSS">
                                        </div>
                                        <div class="col-4">
                                            <span> RFC / Constancia de Situación Fiscal </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                name="empleado_rfc" required style="width:95% !important"
                                                placeholder="Ingresa el RFC">
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="rfc">
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <span>Tipo de Empleado</span>
                                            <select class="custom-select form-control" class="form-control d-inline"
                                                name="empleado_actividad_tipo" style="width:95% !important">
                                                <option selected="">No Aplica</option>
                                                <option value="1">Operación</option>
                                                <option value="2">Staff</option>
                                                <option value="3">Corporativo</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>Tipo Indirecto</label>
                                            <select class="form-control d-inline " style="width:95% !important"
                                                name="tipo_indirecto_id">
                                                <option value="1">Director</option>
                                                <option value="2">Técnico</option>
                                                <option value="3">Indirecto de Campo</option>
                                                <option value="4">Indirecto de Oficina</option>
                                                <option value="5">Depas Admon</option>
                                                <option value="6">Depas Comercial</option>
                                                <option value="7">Depas Mtto</option>
                                                <option value="8">Depas Limpieza</option>
                                                <option value="9">Obra Admon</option>
                                                <option value="10">Obra Civil</option>
                                                <option value="11">Obra Acabados</option>
                                                <option value="12">Obra Instalaciones</option>
                                                <option value="13">Obra Carpinteria</option>
                                                <option value="14">Encargado Técnico</option>
                                                <option value="15">Administración</option>
                                                <option value="16">Comercial</option>
                                                <option value="17">I+D</option>
                                                <option value="18">Supervisor / Comercial</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>Puesto</label>
                                            <select class="form-control d-inline " style="width:95% !important"
                                                name="empleado_puesto_id">
                                                <option value="1">Programador</option>
                                                <option value="2">Ayudante</option>
                                                <option value="3">Coordinador</option>
                                                <option value="4">administracion Obras</option>
                                                <option value="5">Encargado</option>
                                                <option value="6">Residente JR.</option>
                                                <option value="7">Residente SR.</option>
                                                <option value="8">Auxiliar</option>
                                                <option value="9">Y</option>
                                                <option value="10">Gerente</option>
                                                <option value="11">Director</option>
                                                <option value="12">Otro</option>
                                                <option value="13">X</option>
                                                <option value="14">W</option>
                                                <option value="15">U</option>
                                                <option value="16">Compras</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>Sucursal</label>
                                            <select class="form-control d-inline " style="width:95% !important"
                                                name="sucursal_id">
                                                <option selected value="1">Monterrey</option>
                                                <option value="2">Reynosa 1 (Schneider)</option>
                                                <option value="3">Reynosa 2 (Corning)</option>
                                                <option value="4">Juárez / Hermosillo</option>
                                                <option value="6">San Luis Potosí</option>
                                                <option value="7">Querétaro</option>
                                                <option value="8">Toluca</option>
                                                <option value="9">CD México</option>
                                                <option value="10">Guadalajara</option>
                                                <option value="11">Aguascalientes</option>
                                                <option value="12">León Guanajuato</option>
                                                <option value="13">Tijuana</option>
                                                <option value="14">Matamoros</option>
                                                <option value="15">Celaya</option>
                                                <option value="16">Puebla</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <span>Sueldo por Periodo</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                name="empleado_sueldo" style="width:95% !important"
                                                placeholder="Ingresa sueldo por periodo ">
                                        </div>
                                        <div class="col-4">
                                            <span for="example-date">Fecha de Ingreso</span>
                                            <input class="form-control d-inline " style="width:95% !important" required
                                                id="example-date" type="date" name="empleado_fecha_alta" value=""
                                                max="2005-01-01">
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4"> <span> Carta de Recomendación 1</span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                name="empleado_recomendacion1" style="width:95% !important"
                                                placeholder="Ingresa la carta de recomendacion 1">
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="carta1">
                                        </div>
                                        <div class="col-4"><span> Carta de Recomendación 2 </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                name="empleado_recomendacion2" style="width:95% !important"
                                                placeholder="Ingresa la carta de recomendacion 2">
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="carta2">
                                        </div>
                                        <div class="col-4">
                                            <span> Currículum </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline"
                                                name="empleado_curriculum" style="width:95% !important"
                                                placeholder="Ingresa el curriculum nombre empleado y subir archivo">
                                            <label for="fileInput">
                                                <i class="fal fa-upload"></i>
                                            </label>
                                            <input id="fileInput" type="file" style="display:none" name="curriculum">

                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <span> Cuenta de Depósito Maquila </span>
                                            <input type="text" id="simpleinput" class="form-control d-inline "
                                                name="empleado_cuenta_deposito_maquila" style="width:95% !important"
                                                placeholder="Ingresa la cuenta de depósito maquila">
                                        </div>
                                        <div class="col-4">
                                            <label>Empresa Pagadora</label>
                                            <select class="form-control d-inline "
                                                style="width:95% !importan; cursor:pointer" name="empleado_empresa_id">
                                                <option value="8" disabled="disabled">ALAN QUIROGA GAMBOA</option>
                                                <option value="20">ASESORES EXTERNOS</option>
                                                <option value="6">CORPORATIVOSD E INMUEBLES SIENA SA DE CV</option>
                                                <option value="9">DCI</option>
                                                <option value="15">DOT DCD A SA DE CV</option>
                                                <option value="18">DOT DCD ASOCIADOS SA DE CV</option>
                                                <option value="16">DOT DCD B SA DE CV</option>
                                                <option value="17">DOT DCD MEXICO SA DE CV</option>
                                                <option value="3">DOT DCD SA DE CV</option>
                                                <option value="8" disabled="disabled">EDGAR QUIROGA GAMBOA</option>
                                                <option value="13" disabled="disabled">EIE***</option>
                                                <option value="14" disabled="disabled">GIL***</option>
                                                <option value="12" disabled="disabled">INC***</option>
                                                <option value="11" disabled="disabled">NEU***</option>
                                                <option value="14">QUIMARRO SERVICIOS SA DE CV</option>
                                                <option value="15">RENTADMIN SA DE CV</option>
                                                <option value="4" disabled="disabled">TMK***</option>
                                                <option value="5" disabled="disabled">TXE***</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>Centro de Costo</label>
                                            <select class="form-control d-inline " style="width:95% !important"
                                                name="empleado_centrodecostos_id">
                                                <option value="1">administracion</option>
                                                <option value="2">Proyectos</option>
                                                <option value="3">Ingeniería</option>
                                                <option value="4">I+D</option>
                                                <option value="5">Inmuebles</option>
                                                <option value="6">Personal Alan</option>
                                                <option value="7">Personal Edgar</option>
                                                <option value="8">Operaciones</option>
                                                <option value="9">Comercial</option>
                                                <option value="10">Diseño</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <label>Perfil para App</label>
                                            <select class="form-control d-inline " style="width:95% !important"
                                                name="empleado_perfil_app">
                                                <option value="1">Ayudante</option>
                                                <option value="2">Técnico</option>
                                                <option value="3">Oficinas</option>
                                            </select>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>

                                    <div class="row mt-6">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <button type="submit"
                                                class="btn-outline-info btn-lg w-100 ">Guardar</button>
                                        </div>
                                        <div class="col-4"></div>


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}



{{/section}}