<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">
				<h2>
					Agregar Usuario <span class="fw-300"><i></i></span>
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
						data-originalbmnvxzcbhmgchdghjitle="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
						data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
						data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<section>
						<form action="/addUser" method="POST" class="container">
							<div class="row justify-content-center">
								<div class="col-12 col-md-8 col-lg-8 col-xl-6">
									<div class="row">
										<div class="col text-center">
											<h1>Agregar Usuario</h1>
											<p class="text-h3">Acceso al ERP.</p>
										</div>
									</div>
									<div class="row align-items-center mt-4">
										<div class="col">
											<input type="text" class="form-control" placeholder="Usuario" name="username" required>
										</div>
									</div>
									<div class="row align-items-center mt-4">
										<div class="col">
											<input type="text" class="form-control" placeholder="Contraseña"
												name="password" required>
										</div>
									</div>
									<div class="row align-items-center mt-4">
										<div class="col-6">
											<select name="status" id="" class="form-control">
												<option value="" selected disabled>Status</option>
												<option value="1">Activo</option>
												<option value="0">Inactivo</option>
											</select>
										</div>
										<div class="col-6 text-center">
											<select name="id_empleado" id="" class="form-control" required>
												<option value="" selected disabled>Empleado</option>
												{{#each empleado}}
                                                <option value="{{id}}" class="form-control">{{empleado}}</option>
                                                {{/each}}
											</select>
										</div>
									</div>
									<div class="row justify-content-start mt-4">
										<div class="col-lg-12 text-center">
											<button class="btn btn-primary mt-4 btn-lg btn-bloc" type="submit" >Agregar</button>
										</div>
									</div>
								</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">
				<h2>
					Usuarios <span class="fw-300"><i>DOTDCD - ERP</i></span>
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
						data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
						data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
						data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<!-- datatable start -->
					<table id="dt-basic-example" class=" table table-bordered table-hover table-striped w-100">
						<thead class="bg-primary-600">
							<tr>
								<th>Nombre</th>
								<th>Usuario</th>
								<th>Modificar</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<!-- datatable end -->
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'scripts'}}

<script src="/js/datagrid/datatables/datatables.bundle.js"></script>
<script src="/js/datagrid/datatables/datatables.export.js"></script>

<script>
	const usuario = {{{ json usuario }}}


	document.querySelector("#btn").addEventListener("click", function () {
		$longitud = 8; //numero de caracteres
		$clave = generarClave($longitud);
		document.querySelector("#result").value = $clave;
	});


	/*Función principal | Generador de claves | Password Generator*/
	function generarClave(long) {
		/*caracteres permitidos*/
		let caracteres = "Aa0BbCc1DdEe2FfGgHh3IiJj4KkLl5MmNn6OoPp7QqRr8SsTt9UuVv*WwXxYyZz$",
			clave = '',
			numero;

		/*creacion de clave*/
		for (let i = 0; i < long; i++) {
			numero = getNumero(0, caracteres.length);
			clave += caracteres.substring(numero, numero + 1);
		}
		return clave;
	}


	/*Función para generar un numero aleatorio*/
	function getNumero(min, max) {
		return Math.floor(Math.random() * (max - min)) + min;
	}

	console.log($clave)

	$(document).ready(function () {

		// initialize datatable
		$('#dt-basic-example').dataTable(
			{
				data: empleados,
				responsive: true,
				lengthChange: false,
				dom:
					"<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
					"<'row'<'col-sm-12'tr>>" +
					"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
				buttons: [

					{
						extend: 'pdfHtml5',
						text: 'PDF',
						titleAttr: 'Generate PDF',
						className: 'btn-outline-danger btn-sm mr-1'
					},
					{
						extend: 'excelHtml5',
						text: 'Excel',
						titleAttr: 'Generate Excel',
						className: 'btn-outline-success btn-sm mr-1'
					},
					{
						extend: 'csvHtml5',
						text: 'CSV',
						titleAttr: 'Generate CSV',
						className: 'btn-outline-primary btn-sm mr-1'
					},
					{
						extend: 'copyHtml5',
						text: 'Copy',
						titleAttr: 'Copy to clipboard',
						className: 'btn-outline-primary btn-sm mr-1'
					},
					{
						extend: 'print',
						text: 'Print',
						titleAttr: 'Print Table',
						className: 'btn-outline-primary btn-sm'
					}
				]
			});

	});

	$('#imageInput').on('change', function () {
		$input = $(this);
		if ($input.val().length > 0) {
			fileReader = new FileReader();
			fileReader.onload = function (data) {
				$('.image-preview').attr('src', data.target.result);
			}
			fileReader.readAsDataURL($input.prop('files')[0]);
			$('.image-button').css('display', 'none');
			$('.image-preview').css('display', 'block');
			$('.change-image').css('display', 'block');
		}
	});

	$('.change-image').on('click', function () {
		$control = $(this);
		$('#imageInput').val('');
		$preview = $('.image-preview');
		$preview.attr('src', '');
		$preview.css('display', 'none');
		$control.css('display', 'none');
		$('.image-button').css('display', 'block');
	});

</script>
{{/section}}