
<div class="h-alt-f d-flex flex-column align-items-center justify-content-center text-center">
	<h1 class="page-error color-fusion-500">
		ERROR <span class="text-gradient">{{error}}</span>
		<small class="fw-500">
			Algo salio mal mostrando: <strong>{{url}}</strong>
		</small>
	</h1>
	<h3 class="fw-500 mb-5">
		Hubo un problema al mostrar esta pagina.
	</h3>
	<h4>
		Estamos trabajando para arreglar este error. Por favor espera un momento y vuelve a intentarlo. 
		<br>
        <a href="/">Puedes regresar a la página principal</a>
	</h4>
</div>
